Repository ArturBa/pizza-dough: changes, and which lint-staged commands are due for each by the changed paths.
All: ./script/update-recipe-list.sh, npx prettier --write src/assets/data, git add src/assets/data, npx prettier --write, ng-lint-staged lint --fix --

.lintstagedrc:

{
  "src/assets/data/recipes/*.json": [
    "./script/update-recipe-list.sh",
    "npx prettier --write src/assets/data",
    "git add src/assets/data"
  ],
  "*.{json,md,yml,yaml}": "npx prettier --write",
  "*.{scss,html}": "npx prettier --write",
  "src/**/*.ts": ["ng-lint-staged lint --fix --"]
}

Auto-generated commit [ci skip]
  404.html
  chunk-7I54DDGL.js
  chunk-LD52SMIU.js
  index.html
  main.2KESYND6.js
  main.BXSMPEFC.js
  recipe.module-6BIKXMXK.js
  recipe.module-ABNPPXKC.js
Due: npx prettier --write

fix: tests
  src/app/form/dought-counter-selector/dought-counter-selector.component.spec.ts
  src/app/form/dought-weight-selector/dought-weight-selector.component.spec.ts
  src/app/form/weight-unit-selector/weight-unit-selector.component.spec.ts
Due: ng-lint-staged lint --fix --

feat: add validation
  src/app/form/dought-counter-selector/dought-counter-selector.component.html
  src/app/form/dought-counter-selector/dought-counter-selector.component.ts
  src/app/form/dought-weight-selector/dought-weight-selector.component.html
  src/app/form/dought-weight-selector/dought-weight-selector.component.ts
Due: npx prettier --write, ng-lint-staged lint --fix --

feat(recipe): :sparkles: add dought form (#25)
  src/app/form/dought-counter-selector/dought-counter-selector.component.html
  src/app/form/dought-counter-selector/dought-counter-selector.component.scss
  src/app/form/dought-counter-selector/dought-counter-selector.component.spec.ts
  src/app/form/dought-counter-selector/dought-counter-selector.component.ts
  src/app/form/dought-weight-selector/dought-weight-selector.component.html
  src/app/form/dought-weight-selector/dought-weight-selector.component.scss
  src/app/form/dought-weight-selector/dought-weight-selector.component.spec.ts
  src/app/form/dought-weight-selector/dought-weight-selector.component.ts
  src/app/form/form.module.ts
  src/app/form/form/form.component.html
  src/app/form/weight-unit-selector/weight-unit-selector.component.html
  src/app/form/weight-unit-selector/weight-unit-selector.component.scss
  src/app/form/weight-unit-selector/weight-unit-selector.component.spec.ts
  src/app/form/weight-unit-selector/weight-unit-selector.component.ts
Due: npx prettier --write, ng-lint-staged lint --fix --

Auto-generated commit [ci skip]
  404.html
  chunk-7I54DDGL.js
  chunk-DBNEXIDO.js
  index.html
  main.2KESYND6.js
  main.RNGSHEY4.js
  recipe.module-ABNPPXKC.js
  recipe.module-YD7SEQWH.js
Due: npx prettier --write

feat(recipe): :sparkles: add ngxs into dough
  src/app/dough/dough.module.ts
  src/app/dough/redux/dough.actions.ts
  src/app/dough/redux/dough.model.ts
  src/app/dough/redux/dough.state.ts
  src/app/dough/redux/index.ts
  src/app/form/dough-counter-selector/dough-counter-selector.component.html
  src/app/form/dough-counter-selector/dough-counter-selector.component.scss
  src/app/form/dough-counter-selector/dough-counter-selector.component.spec.ts
  src/app/form/dough-counter-selector/dough-counter-selector.component.ts
  src/app/form/dough-weight-selector/dough-weight-selector.component.html
  src/app/form/dough-weight-selector/dough-weight-selector.component.scss
  src/app/form/dough-weight-selector/dough-weight-selector.component.spec.ts
  src/app/form/dough-weight-selector/dough-weight-selector.component.ts
  src/app/form/dought-counter-selector/dought-counter-selector.component.ts
  src/app/form/dought-weight-selector/dought-weight-selector.component.ts
  src/app/form/form.module.ts
  src/app/form/form/form.component.html
  src/app/form/oven-selector/oven-selector.component.spec.ts
  src/app/form/oven-selector/oven-selector.component.ts
  src/app/form/recipe-selector/recipe-selector.component.spec.ts
  src/app/form/recipe-selector/recipe-selector.component.ts
  src/app/form/redux/form.state.ts
  src/app/form/weight-unit-selector/weight-unit-selector.component.html
  src/app/form/weight-unit-selector/weight-unit-selector.component.ts
Due: npx prettier --write, ng-lint-staged lint --fix --

feat(recipe): :sparkles: add ngxs into dough
  src/app/dough/redux/dough.state.ts
  src/app/form/dough-weight-selector/dough-weight-selector.component.html
  src/app/form/dough-weight-selector/dough-weight-selector.component.ts
  src/app/form/weight-unit-selector/weight-unit-selector.component.ts
Due: npx prettier --write, ng-lint-staged lint --fix --

feat(recipe): :sparkles: add ngxs into dough
  src/app/dough/redux/dough.model.ts
  src/app/dough/redux/dough.state.ts
  src/app/form/dough-weight-selector/dough-weight-selector.component.html
  src/app/form/dough-weight-selector/dough-weight-selector.component.ts
Due: npx prettier --write, ng-lint-staged lint --fix --

test: fix tests for componnents using ngxs
  src/app/form/dough-counter-selector/dough-counter-selector.component.spec.ts
  src/app/form/dough-weight-selector/dough-weight-selector.component.spec.ts
  src/app/form/weight-unit-selector/weight-unit-selector.component.spec.ts
Due: ng-lint-staged lint --fix --

feat(recipe): :sparkles: add ngxs into dough (#26)
  src/app/dough/dough.module.ts
  src/app/dough/redux/dough.actions.ts
  src/app/dough/redux/dough.model.ts
  src/app/dough/redux/dough.state.ts
  src/app/dough/redux/index.ts
  src/app/form/dough-counter-selector/dough-counter-selector.component.html
  src/app/form/dough-counter-selector/dough-counter-selector.component.scss
  src/app/form/dough-counter-selector/dough-counter-selector.component.spec.ts
  src/app/form/dough-counter-selector/dough-counter-selector.component.ts
  src/app/form/dough-weight-selector/dough-weight-selector.component.html
  src/app/form/dough-weight-selector/dough-weight-selector.component.scss
  src/app/form/dough-weight-selector/dough-weight-selector.component.spec.ts
  src/app/form/dough-weight-selector/dough-weight-selector.component.ts
  src/app/form/dought-counter-selector/dought-counter-selector.component.spec.ts
  src/app/form/dought-counter-selector/dought-counter-selector.component.ts
  src/app/form/dought-weight-selector/dought-weight-selector.component.html
  src/app/form/dought-weight-selector/dought-weight-selector.component.spec.ts
  src/app/form/dought-weight-selector/dought-weight-selector.component.ts
  src/app/form/form.module.ts
  src/app/form/form/form.component.html
  src/app/form/oven-selector/oven-selector.component.spec.ts
  src/app/form/oven-selector/oven-selector.component.ts
  src/app/form/recipe-selector/recipe-selector.component.spec.ts
  src/app/form/recipe-selector/recipe-selector.component.ts
  src/app/form/redux/form.state.ts
  src/app/form/weight-unit-selector/weight-unit-selector.component.html
  src/app/form/weight-unit-selector/weight-unit-selector.component.ts
Due: npx prettier --write, ng-lint-staged lint --fix --

Auto-generated commit [ci skip]
  404.html
  chunk-7VMHON35.js
  chunk-DBNEXIDO.js
  index.html
  main.RNGSHEY4.js
  main.TJ5I5FEO.js
  recipe.module-3UI2OWMX.js
  recipe.module-YD7SEQWH.js
Due: npx prettier --write

feat(component): :sparkles: add table component
  src/app/components/table/header/header.component.html
  src/app/components/table/header/header.component.scss
  src/app/components/table/header/header.component.ts
  src/app/components/table/row/row.component.html
  src/app/components/table/row/row.component.scss
  src/app/components/table/row/row.component.ts
  src/app/components/table/table.module.ts
  src/app/components/table/table/table.component.html
  src/app/components/table/table/table.component.scss
  src/app/components/table/table/table.component.ts
  src/app/components/table/table/table.stories.ts
  src/app/components/table/total-weight-row/total-weight-row.component.html
  src/app/components/table/total-weight-row/total-weight-row.component.scss
  src/app/components/table/total-weight-row/total-weight-row.component.ts
  src/app/recipe/ingredients/ingredients.module.ts
  src/app/recipe/ingredients/ingredients/ingredients.component.html
Due: npx prettier --write, ng-lint-staged lint --fix --

feat(component): :sparkles: add table component (#27)
  src/app/components/table/header/header.component.html
  src/app/components/table/header/header.component.scss
  src/app/components/table/header/header.component.ts
  src/app/components/table/row/row.component.html
  src/app/components/table/row/row.component.scss
  src/app/components/table/row/row.component.ts
  src/app/components/table/table.module.ts
  src/app/components/table/table/table.component.html
  src/app/components/table/table/table.component.scss
  src/app/components/table/table/table.component.ts
  src/app/components/table/table/table.stories.ts
  src/app/components/table/total-weight-row/total-weight-row.component.html
  src/app/components/table/total-weight-row/total-weight-row.component.scss
  src/app/components/table/total-weight-row/total-weight-row.component.ts
  src/app/recipe/ingredients/ingredients.module.ts
  src/app/recipe/ingredients/ingredients/ingredients.component.html
Due: npx prettier --write, ng-lint-staged lint --fix --

Auto-generated commit [ci skip]
  404.html
  chunk-7VMHON35.js
  chunk-ME3JNKNZ.js
  index.html
  main.BBBLYDDQ.js
  main.TJ5I5FEO.js
  recipe.module-3UI2OWMX.js
  recipe.module-TRHLPFMQ.js
Due: npx prettier --write

feat(recipe): :sparkles: add a recipe ingredients table
  src/app/dough/redux/dough.state.ts
  src/app/recipe/ingredients/ingredients/ingredients.component.html
  src/app/recipe/ingredients/ingredients/ingredients.component.ts
  src/app/recipe/redux/recipe.model.ts
Due: npx prettier --write, ng-lint-staged lint --fix --

feat(recipe): :sparkles: add a recipe ingredients table
  src/app/recipe/ingredients/ingredients/ingredients.component.spec.ts
Due: ng-lint-staged lint --fix --

feat(recipe): :sparkles: add a recipe ingredients table (#28)
  src/app/dough/redux/dough.state.ts
  src/app/recipe/ingredients/ingredients/ingredients.component.html
  src/app/recipe/ingredients/ingredients/ingredients.component.spec.ts
  src/app/recipe/ingredients/ingredients/ingredients.component.ts
  src/app/recipe/redux/recipe.model.ts
Due: npx prettier --write, ng-lint-staged lint --fix --

Auto-generated commit [ci skip]
  404.html
  chunk-ME3JNKNZ.js
  chunk-NDS55DNV.js
  index.html
  main.BBBLYDDQ.js
  main.ZRRZJUR4.js
  recipe.module-SIHT7BHT.js
  recipe.module-TRHLPFMQ.js
Due: npx prettier --write

fix(deploy): :bug: set env to prod on production
  src/environments/environment.prod.ts
Due: ng-lint-staged lint --fix --

Auto-generated commit [ci skip]
  404.html
  index.html
  main.LTKJO2DV.js
Due: npx prettier --write

fix(deploy): :ambulance: build for deploy not working wight ngxs
  angular.json
Due: npx prettier --write

fix(deploy): :ambulance: build for deploy not working wight ngxs (#29)
  angular.json
Due: npx prettier --write

Auto-generated commit [ci skip]
  3rdpartylicenses.txt
  404.html
  54.74842fd618bd5a34.js
  chunk-NDS55DNV.js
  index.html
  main.7eba32bf4781fa00.js
  main.LTKJO2DV.js
  polyfills.979ea95d03d17b7e.js
  polyfills.CPDEGR4U.js
  recipe.module-SIHT7BHT.js
  runtime.33bcae33e6731b71.js
  styles.b60d8933547775cf.css
Due: npx prettier --write

fix: :bug: default recipe working from homepage
  src/app/form/redux/form.model.ts
  src/app/form/redux/form.state.ts
  src/app/recipe/recipe-routing.module.ts
Due: ng-lint-staged lint --fix --

fix: :bug: default recipe working from homepage (#30)
  src/app/form/redux/form.model.ts
  src/app/form/redux/form.state.ts
  src/app/recipe/recipe-routing.module.ts
Due: ng-lint-staged lint --fix --

Auto-generated commit [ci skip]
  404.html
  54.74842fd618bd5a34.js
  54.b44cdadca73e0290.js
  index.html
  main.7eba32bf4781fa00.js
  main.897869bfe38bf2f3.js
  runtime.33bcae33e6731b71.js
  runtime.b27040b641f033ff.js
Due: npx prettier --write

feat(recipe): :sparkles: add pizza style for each pizza
  README.md
  src/assets/data/dictionaries.json
  src/assets/data/recipes/16.json
  src/assets/data/recipes/19.json
  src/assets/data/recipes/24.json
  src/assets/data/recipes/25.json
  src/assets/data/recipes/26.json
  src/assets/data/recipes/33.json
  src/assets/data/recipes/8.json
  src/assets/data/recipes/9.json
Due: ./script/update-recipe-list.sh, npx prettier --write src/assets/data, git add src/assets/data, npx prettier --write

feat: update chicago pizza style
  src/assets/data/list.json
  src/assets/data/recipes/10.json
  src/assets/data/recipes/11.json
  src/assets/data/recipes/12.json
  src/assets/data/recipes/22.json
  src/assets/data/recipes/28.json
  src/assets/data/recipes/34.json
  src/assets/data/recipes/35.json
Due: ./script/update-recipe-list.sh, npx prettier --write src/assets/data, git add src/assets/data, npx prettier --write

feat: update NY pizza styled
  src/assets/data/recipes/15.json
  src/assets/data/recipes/17.json
  src/assets/data/recipes/18.json
  src/assets/data/recipes/23.json
  src/assets/data/recipes/27.json
  src/assets/data/recipes/29.json
  src/assets/data/recipes/30.json
  src/assets/data/recipes/31.json
  src/assets/data/recipes/32.json
  src/assets/data/recipes/6.json
  src/assets/data/recipes/7.json
Due: ./script/update-recipe-list.sh, npx prettier --write src/assets/data, git add src/assets/data, npx prettier --write

feat: add style into common data
  script/update-recipe-list.sh
  src/assets/data/list.json
Due: npx prettier --write

fix(recipe): :bug: redirect to default if undefined recipe id in url
  src/app/form/redux/form.state.ts
  src/app/recipe/ingredients/ingredients/ingredients.component.spec.ts
  src/app/recipe/ingredients/ingredients/ingredients.component.ts
  src/app/recipe/instructions/instructions/instructions.component.ts
  src/app/recipe/recipe.module.ts
  src/app/recipe/recipe/recipe.component.ts
  src/app/recipe/redux/recipe.state.ts
Due: ng-lint-staged lint --fix --

feat(recipe): :sparkles: add pizza style for each pizza (#31)
  README.md
  script/update-recipe-list.sh
  src/assets/data/dictionaries.json
  src/assets/data/list.json
  src/assets/data/recipes/10.json
  src/assets/data/recipes/11.json
  src/assets/data/recipes/12.json
  src/assets/data/recipes/15.json
  src/assets/data/recipes/16.json
  src/assets/data/recipes/17.json
  src/assets/data/recipes/18.json
  src/assets/data/recipes/19.json
  src/assets/data/recipes/22.json
  src/assets/data/recipes/23.json
  src/assets/data/recipes/24.json
  src/assets/data/recipes/25.json
  src/assets/data/recipes/26.json
  src/assets/data/recipes/27.json
  src/assets/data/recipes/28.json
  src/assets/data/recipes/29.json
  src/assets/data/recipes/30.json
  src/assets/data/recipes/31.json
  src/assets/data/recipes/32.json
  src/assets/data/recipes/33.json
  src/assets/data/recipes/34.json
  src/assets/data/recipes/35.json
  src/assets/data/recipes/6.json
  src/assets/data/recipes/7.json
  src/assets/data/recipes/8.json
  src/assets/data/recipes/9.json
Due: ./script/update-recipe-list.sh, npx prettier --write src/assets/data, git add src/assets/data, npx prettier --write

Auto-generated commit [ci skip]
  assets/data/dictionaries.json
  assets/data/list.json
  assets/data/recipes/10.json
  assets/data/recipes/11.json
  assets/data/recipes/12.json
  assets/data/recipes/15.json
  assets/data/recipes/16.json
  assets/data/recipes/17.json
  assets/data/recipes/18.json
  assets/data/recipes/19.json
  assets/data/recipes/22.json
  assets/data/recipes/23.json
  assets/data/recipes/24.json
  assets/data/recipes/25.json
  assets/data/recipes/26.json
  assets/data/recipes/27.json
  assets/data/recipes/28.json
  assets/data/recipes/29.json
  assets/data/recipes/30.json
  assets/data/recipes/31.json
  assets/data/recipes/32.json
  assets/data/recipes/33.json
  assets/data/recipes/34.json
  assets/data/recipes/35.json
  assets/data/recipes/6.json
  assets/data/recipes/7.json
  assets/data/recipes/8.json
  assets/data/recipes/9.json
Due: npx prettier --write

fix(recipe): :bug: redirect to default if undefined recipe id in url (#32)
  src/app/form/redux/form.state.ts
  src/app/recipe/ingredients/ingredients/ingredients.component.spec.ts
  src/app/recipe/ingredients/ingredients/ingredients.component.ts
  src/app/recipe/instructions/instructions/instructions.component.ts
  src/app/recipe/recipe.module.ts
  src/app/recipe/recipe/recipe.component.ts
  src/app/recipe/redux/recipe.state.ts
Due: ng-lint-staged lint --fix --

Auto-generated commit [ci skip]
  404.html
  424.898397543a32acab.js
  54.b44cdadca73e0290.js
  index.html
  main.1f4435cc5a9ebc3a.js
  main.897869bfe38bf2f3.js
  runtime.85fe0a2d83ff59e9.js
  runtime.b27040b641f033ff.js
Due: npx prettier --write

fix(recipe): :bug: pepe's pizza recipe invalid characters
  src/assets/data/recipes/24.json
Due: ./script/update-recipe-list.sh, npx prettier --write src/assets/data, git add src/assets/data, npx prettier --write

fix(recipe): :bug: pepe's pizza recipe invalid characters (#33)
  src/assets/data/recipes/24.json
Due: ./script/update-recipe-list.sh, npx prettier --write src/assets/data, git add src/assets/data, npx prettier --write

Auto-generated commit [ci skip]
  assets/data/recipes/24.json
Due: npx prettier --write

feat(component): :sparkles: add a mobile view for table
  package.json
  src/app/components/control/control-field/control-field.component.scss
  src/app/components/icon/chevron/chevron.component.html
  src/app/components/table/header/header.component.html
  src/app/components/table/header/header.component.ts
  src/app/components/table/row/row.component.html
  src/app/components/table/row/row.component.ts
  src/app/components/table/table/table.component.html
  src/app/components/table/table/table.component.scss
  src/app/components/table/table/table.component.ts
  src/app/components/table/table/table.stories.ts
  src/app/components/table/total-weight-row/total-weight-row.component.html
  src/app/form/weight-unit-selector/weight-unit-selector.component.html
  src/app/recipe/ingredients/ingredients/ingredients.component.html
  src/app/recipe/ingredients/ingredients/ingredients.component.ts
Due: npx prettier --write, ng-lint-staged lint --fix --

feat(component): :sparkles: add a mobile view for table (#34)
  package.json
  src/app/components/control/control-field/control-field.component.scss
  src/app/components/icon/chevron/chevron.component.html
  src/app/components/table/header/header.component.html
  src/app/components/table/header/header.component.ts
  src/app/components/table/row/row.component.html
  src/app/components/table/row/row.component.ts
  src/app/components/table/table/table.component.html
  src/app/components/table/table/table.component.scss
  src/app/components/table/table/table.component.ts
  src/app/components/table/table/table.stories.ts
  src/app/components/table/total-weight-row/total-weight-row.component.html
  src/app/form/weight-unit-selector/weight-unit-selector.component.html
  src/app/recipe/ingredients/ingredients/ingredients.component.html
  src/app/recipe/ingredients/ingredients/ingredients.component.ts
Due: npx prettier --write, ng-lint-staged lint --fix --
