Repository ArturBa/pizza-dough: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write ., ng-lint-staged lint --fix --

.lintstagedrc:

{
  "*.{json,md}": "npx prettier --write .",
  "src/**/*.ts": ["ng-lint-staged lint --fix --"]
}

Auto-generated commit [ci skip]
  404.html
  assets/img/pizza.png
  index.html
  main.5d244b81df0495b9.js
  main.a862dc1898a893cd.js
  polyfills.6dfcf45f560a473f.js
  polyfills.9994e93122b53921.js
  runtime.3be048ca5655c5d4.js
  runtime.3e9a68b93176742d.js
  styles.90436ecd08cc9881.css
  styles.ec5131f370eedb63.css
Due: none

feat: add logo
  src/app/components/header-logo/header-logo.component.html
  src/app/components/header-logo/header-logo.component.scss
  src/app/components/header-logo/header-logo.component.spec.ts
  src/app/components/header/header.component.html
  src/app/components/header/header.component.spec.ts
  src/assets/images/logo.svg
  src/assets/img/pizza.png
  src/index.html
Due: ng-lint-staged lint --fix --

feat: add logo
  src/app/app.component.ts
  src/assets/images/favicon.png
  src/assets/images/favicon.svg
  src/index.html
Due: ng-lint-staged lint --fix --

feat: add logo (#10)
  src/app/app.component.ts
  src/app/components/header-logo/header-logo.component.html
  src/app/components/header-logo/header-logo.component.scss
  src/app/components/header-logo/header-logo.component.spec.ts
  src/app/components/header/header.component.html
  src/app/components/header/header.component.spec.ts
  src/assets/images/favicon.png
  src/assets/images/favicon.svg
  src/assets/images/logo.svg
  src/assets/img/pizza.png
  src/index.html
Due: ng-lint-staged lint --fix --

Auto-generated commit [ci skip]
  404.html
  assets/images/favicon.png
  assets/images/favicon.svg
  assets/images/logo.svg
  assets/img/pizza.png
  index.html
  main.5d244b81df0495b9.js
  main.77c8adc9a280a6e9.js
Due: none

refactor: :lipstick: set up a web mixin
  src/app/app.component.scss
  src/app/components/footer/footer.component.html
  src/app/components/footer/footer.component.scss
  src/app/components/header-logo/header-logo.component.scss
  src/app/components/header/header.component.scss
  src/styles.scss
  src/styles/_media-queries.scss
Due: none

refactor: :lipstick: set up a web mixin
  .lintstagedrc
Due: none

refactor: :lipstick: set up a web mixin (#11)
  .lintstagedrc
  src/app/app.component.scss
  src/app/components/footer/footer.component.html
  src/app/components/footer/footer.component.scss
  src/app/components/header-logo/header-logo.component.scss
  src/app/components/header/header.component.scss
  src/styles.scss
  src/styles/_media-queries.scss
Due: none

Auto-generated commit [ci skip]
  404.html
  index.html
  main.77c8adc9a280a6e9.js
  main.806edb7f45461077.js
  styles.07a9c055b138db7e.css
  styles.ec5131f370eedb63.css
Due: none

feat: :sparkles: add storybook and input component
  .storybook/main.js
  .storybook/preview.js
  .storybook/tsconfig.json
  .storybook/typings.d.ts
  angular.json
  documentation.json
  package-lock.json
  package.json
  src/app/app.component.scss
  src/app/components/components.module.ts
  src/app/components/footer/footer.stories.ts
  src/app/components/header-logo/header-logo.component.html
  src/app/components/header/header.component.scss
  src/app/components/header/header.stories.ts
  src/app/components/input/input.component.html
  src/app/components/input/input.component.scss
  src/app/components/input/input.component.spec.ts
  src/app/components/input/input.component.ts
  src/app/components/input/input.stories.ts
  src/assets/images/logo.svg
  src/styles/_color.scss
  tsconfig.app.json
Due: npx prettier --write ., ng-lint-staged lint --fix --

feat: :sparkles: add storybook and input component
  .storybook/main.js
  .storybook/preview.js
Due: none

fix: storybook works with angular 15
  package-lock.json
  package.json
Due: npx prettier --write .

feat: add storybook to CI
  .github/actions/storybook/action.yml
  .github/workflows/master-branch.yml
  .github/workflows/merge-request.yml
  package-lock.json
  package.json
Due: npx prettier --write .

feat: add storybook to CI
  .github/actions/storybook/action.yml
  .github/workflows/master-branch.yml
  .github/workflows/merge-request.yml
  .gitignore
  src/app/components/input/input.component.html
  src/app/components/input/input.component.scss
Due: none

feat: add storybook to CI
  .github/actions/storybook/action.yml
  .lintstagedrc
  documentation.json
Due: npx prettier --write .

feat: add storybook to CI
  .github/workflows/master-branch.yml
  .github/workflows/merge-request.yml
Due: none

fix: storybook CI build
  .gitignore
  .storybook/preview.ts
  .storybook/tsconfig.json
  angular.json
  package.json
  src/app/components/input/input.component.html
  src/app/components/input/input.component.scss
Due: npx prettier --write .

feat: (storybook) update the background color
  .storybook/preview.ts
Due: none

feat: (storybook) update the background color
  src/app/components/input/input.stories.ts
Due: ng-lint-staged lint --fix --

feat: :sparkles: add storybook and input component (#12)
  .github/actions/storybook/action.yml
  .github/workflows/master-branch.yml
  .github/workflows/merge-request.yml
  .gitignore
  .lintstagedrc
  .storybook/main.js
  .storybook/preview.ts
  .storybook/tsconfig.json
  .storybook/typings.d.ts
  angular.json
  package-lock.json
  package.json
  src/app/app.component.scss
  src/app/components/components.module.ts
  src/app/components/footer/footer.stories.ts
  src/app/components/header-logo/header-logo.component.html
  src/app/components/header/header.component.scss
  src/app/components/header/header.stories.ts
  src/app/components/input/input.component.html
  src/app/components/input/input.component.scss
  src/app/components/input/input.component.spec.ts
  src/app/components/input/input.component.ts
  src/app/components/input/input.stories.ts
  src/assets/images/logo.svg
  src/styles/_color.scss
  tsconfig.app.json
Due: npx prettier --write ., ng-lint-staged lint --fix --

Auto-generated commit [ci skip]
  404.html
  assets/images/logo.svg
  index.html
  main.2d707b297d575877.js
  main.806edb7f45461077.js
Due: none

refactor(component): :recycle: text input rewritten
  .vscode/settings.json
  package.json
  src/app/components/components.module.ts
  src/app/components/footer/footer.stories.ts
  src/app/components/form/form-field/form-field.component.html
  src/app/components/form/form-field/form-field.component.scss
  src/app/components/form/form-field/form-field.component.spec.ts
  src/app/components/form/form-field/form-field.component.ts
  src/app/components/form/form.module.ts
  src/app/components/form/input-after/input-after.directive.spec.ts
  src/app/components/form/input-after/input-after.directive.ts
  src/app/components/form/input/input.directive.spec.ts
  src/app/components/form/input/input.directive.ts
  src/app/components/form/input/input.stories.ts
  src/app/components/header/header.stories.ts
  src/app/components/input/input.component.html
  src/app/components/input/input.component.scss
  src/app/components/input/input.component.ts
  src/app/components/input/input.stories.ts
  src/styles/_color.scss
Due: npx prettier --write ., ng-lint-staged lint --fix --

fix: remove unused service
  src/app/components/form/form-field/form-field.component.ts
  src/app/components/form/input/input.directive.ts
Due: ng-lint-staged lint --fix --

fix: remove unused service
  src/app/components/form/input/input.stories.ts
Due: ng-lint-staged lint --fix --

refactor(component): :recycle: text input rewritten (#13)
  .vscode/settings.json
  package.json
  src/app/components/components.module.ts
  src/app/components/footer/footer.stories.ts
  src/app/components/form/form-field/form-field.component.html
  src/app/components/form/form-field/form-field.component.scss
  src/app/components/form/form-field/form-field.component.spec.ts
  src/app/components/form/form-field/form-field.component.ts
  src/app/components/form/form.module.ts
  src/app/components/form/input-after/input-after.directive.spec.ts
  src/app/components/form/input-after/input-after.directive.ts
  src/app/components/form/input/input.directive.spec.ts
  src/app/components/form/input/input.directive.ts
  src/app/components/form/input/input.stories.ts
  src/app/components/header/header.stories.ts
  src/app/components/input/input.component.html
  src/app/components/input/input.component.scss
  src/app/components/input/input.component.ts
  src/app/components/input/input.stories.ts
  src/styles/_color.scss
Due: npx prettier --write ., ng-lint-staged lint --fix --

feat(component): :sparkles: add a selector with autocomplete
  src/app/components/form/form-field/form-field.component.scss
  src/app/components/form/form.module.ts
  src/app/components/form/input-after/input-after.directive.ts
  src/app/components/form/input/input.directive.ts
  src/app/components/form/input/input.stories.ts
  src/app/components/form/selector-button/selector-button.component.html
  src/app/components/form/selector-button/selector-button.component.scss
  src/app/components/form/selector-button/selector-button.component.spec.ts
  src/app/components/form/selector-button/selector-button.component.ts
  src/app/components/form/selector/selector.directive.spec.ts
  src/app/components/form/selector/selector.directive.ts
  src/app/components/form/selector/selector.stories.ts
  src/app/components/icon/chevron/chevron.component.html
  src/app/components/icon/chevron/chevron.component.scss
  src/app/components/icon/chevron/chevron.component.ts
  src/app/components/icon/icon.module.ts
Due: ng-lint-staged lint --fix --

feat(component): :sparkles: add a selector with autocomplete
  src/app/components/form/form-field/form-field.component.scss
  src/app/components/form/selector-button/selector-button.component.scss
  src/app/components/form/selector/selector.stories.ts
  src/app/components/icon/chevron/chevron.component.scss
Due: ng-lint-staged lint --fix --

feat(component): :sparkles: add a selector
  src/app/components/form/form-field/form-field.component.scss
  src/app/components/form/form.module.ts
  src/app/components/form/input/input.directive.ts
  src/app/components/form/selector-button/selector-button.component.html
  src/app/components/form/selector-button/selector-button.component.scss
  src/app/components/form/selector-button/selector-button.component.spec.ts
  src/app/components/form/selector-button/selector-button.component.ts
  src/app/components/form/selector/selector.directive.ts
  src/app/components/form/selector/selector.stories.ts
Due: ng-lint-staged lint --fix --

test: update tests for selector
  src/app/components/form/form-field/form-field.component.spec.ts
  src/app/components/form/selector/selector.directive.spec.ts
Due: ng-lint-staged lint --fix --

test: update tests for selector and input
  src/app/components/form/form.module.ts
  src/app/components/form/input/input.directive.spec.ts
  src/app/components/form/selector/selector.directive.spec.ts
  src/app/components/form/selector/selector.directive.ts
  src/app/components/form/selector/selector.stories.ts
Due: ng-lint-staged lint --fix --

test: update tests for selector and input
  src/app/components/form/form-field/form-field.component.scss
  src/app/components/form/input/input.stories.ts
Due: ng-lint-staged lint --fix --

test: update tests for selector and input
  src/app/components/form/form-field/form-field.component.scss
Due: none

ci: :construction_worker: split pipeline to multiple jobs
  .github/workflows/master-branch.yml
  .github/workflows/merge-request.yml
Due: none

feat(component): :sparkles: add a selector (#14)
  src/app/components/form/form-field/form-field.component.scss
  src/app/components/form/form-field/form-field.component.spec.ts
  src/app/components/form/form.module.ts
  src/app/components/form/input-after/input-after.directive.ts
  src/app/components/form/input/input.directive.spec.ts
  src/app/components/form/input/input.directive.ts
  src/app/components/form/input/input.stories.ts
  src/app/components/form/selector/selector.directive.spec.ts
  src/app/components/form/selector/selector.directive.ts
  src/app/components/form/selector/selector.stories.ts
  src/app/components/icon/chevron/chevron.component.html
  src/app/components/icon/chevron/chevron.component.scss
  src/app/components/icon/chevron/chevron.component.ts
  src/app/components/icon/icon.module.ts
Due: ng-lint-staged lint --fix --

ci: :construction_worker: split pipeline to multiple jobs (#15)
  .github/workflows/master-branch.yml
  .github/workflows/merge-request.yml
Due: none

refactor(component): :recycle: rename form to control module
  src/app/app.component.spec.ts
  src/app/components/components.module.ts
  src/app/components/control/control-field/control-field.component.html
  src/app/components/control/control-field/control-field.component.scss
  src/app/components/control/control-field/control-field.component.spec.ts
  src/app/components/control/control-field/control-field.component.ts
  src/app/components/control/control.module.ts
  src/app/components/control/input-after/input-after.directive.spec.ts
  src/app/components/control/input-after/input-after.directive.ts
  src/app/components/control/input/input.directive.spec.ts
  src/app/components/control/input/input.directive.ts
  src/app/components/control/input/input.stories.ts
  src/app/components/control/select/select.directive.spec.ts
  src/app/components/control/select/select.directive.ts
  src/app/components/control/select/select.stories.ts
  src/app/components/form/control-field/control-field.component.html
  src/app/components/form/control-field/control-field.component.scss
  src/app/components/form/control-field/control-field.component.spec.ts
  src/app/components/form/control-field/control-field.component.ts
  src/app/components/form/control.module.ts
  src/app/components/form/form-field/form-field.component.ts
  src/app/components/form/select/select.directive.spec.ts
  src/app/components/form/select/select.directive.ts
  src/app/components/form/select/select.stories.ts
  src/app/form/form.module.ts
  src/app/form/oven-selector/oven-selector.component.html
  src/app/form/oven-selector/oven-selector.component.scss
  src/app/form/oven-selector/oven-selector.component.spec.ts
  src/app/form/oven-selector/oven-selector.component.ts
  src/app/form/recipe-selector/recipe-selector.component.html
  src/app/form/recipe-selector/recipe-selector.component.scss
  src/app/form/recipe-selector/recipe-selector.component.spec.ts
  src/app/form/recipe-selector/recipe-selector.component.ts
Due: ng-lint-staged lint --fix --

refactor(component): :recycle: rename form to control module
  src/app/components/form/control-field/control-field.component.html
  src/app/components/form/control-field/control-field.component.scss
  src/app/components/form/control-field/control-field.component.spec.ts
  src/app/components/form/control-field/control-field.component.ts
  src/app/components/form/control.module.ts
  src/app/components/form/input-after/input-after.directive.spec.ts
  src/app/components/form/input-after/input-after.directive.ts
  src/app/components/form/input/input.directive.spec.ts
  src/app/components/form/input/input.directive.ts
  src/app/components/form/input/input.stories.ts
  src/app/components/form/select/select.directive.spec.ts
  src/app/components/form/select/select.directive.ts
  src/app/components/form/select/select.stories.ts
Due: ng-lint-staged lint --fix --

refactor(component): :recycle: rename form to control module
  src/app/components/components.module.ts
Due: ng-lint-staged lint --fix --

fix: failing test
  src/app/form/form.module.ts
  src/app/form/recipe-selector/recipe-selector.component.spec.ts
Due: ng-lint-staged lint --fix --
