Repository ArturBa/pizza-dough: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write ., ng-lint-staged lint --fix --

feat: add husky (#2)
  .husky/pre-commit
  .lintstagedrc
  package-lock.json
  package.json
Due: npx prettier --write .

feat: add commitlint
  .commitlintrc.json
  .husky/commit-msg
  commitlint.config.js
  package-lock.json
  package.json
Due: npx prettier --write .

feat: add commitlint (#3)
  .commitlintrc.json
  .husky/commit-msg
  commitlint.config.js
  package-lock.json
  package.json
Due: npx prettier --write .

ci: :construction_worker: add a merge request CI
  .github/workflows/merge-requets.yml
Due: none

ci: :construction_worker: add a merge request CI
  .github/workflows/merge-requets.yml
  angular.json
  karma.conf.js
Due: npx prettier --write .

ci: :construction_worker: add a merge request CI
  karma.conf.js
Due: none

ci: :construction_worker: add a merge request CI (#4)
  .github/workflows/merge-requets.yml
  angular.json
  karma.conf.js
Due: npx prettier --write .

ci: :construction_worker: add deploy
  .github/workflows/deploy.yml
Due: none

ci: :construction_worker: add deploy
  package-lock.json
  package.json
Due: npx prettier --write .

Auto-generated commit [ci skip]
  3rdpartylicenses.txt
  404.html
  favicon.ico
  index.html
  main.459e4970c1799d9f.js
  polyfills.9994e93122b53921.js
  runtime.3e9a68b93176742d.js
  styles.ef46db3751d8e999.css
Due: none

Auto-generated commit [ci skip]
  404.html
  index.html
Due: none

ci: :construction_worker: add deploy
  angular.json
Due: npx prettier --write .

ci: :construction_worker: add deploy
  .github/workflows/deploy.yml
  .github/workflows/merge-requets.yml
  .vscode/settings.json
Due: npx prettier --write .

ci: :construction_worker: add deploy
  .github/actions/cache/action.yml
  .github/workflows/deploy.yml
  .github/workflows/merge-requets.yml
Due: none

ci: :construction_worker: add deploy
  .github/actions/cache/action.yml
  .github/workflows/gh-pages.yml
  .github/workflows/merge-request.yml
Due: none

ci: :construction_worker: add deploy
  .github/workflows/gh-pages.yml
  .github/workflows/merge-request.yml
Due: none

ci: :construction_worker: add deploy
  .github/workflows/merge-request.yml
Due: none

ci: :construction_worker: add deploy
  .github/workflows/gh-pages.yml
Due: none

ci: :construction_worker: add deploy (#5)
  .github/actions/cache/action.yml
  .github/workflows/gh-pages.yml
  .github/workflows/merge-request.yml
  .vscode/settings.json
  angular.json
  package-lock.json
  package.json
Due: npx prettier --write .

feat: :chart_with_upwards_trend: add analytics to the page
  .github/actions/cache/action.yml
  package-lock.json
  package.json
  src/app/analytics/analytics.module.ts
  src/app/analytics/analytics/analytics.component.ts
  src/app/analytics/google-tag.service.ts
  src/app/app.module.ts
  src/index.html
  tsconfig.app.json
Due: npx prettier --write ., ng-lint-staged lint --fix --

feat: :chart_with_upwards_trend: add analytics to the page
  src/app/analytics/analytics/analytics.component.ts
Due: ng-lint-staged lint --fix --

feat: :chart_with_upwards_trend: add analytics to the page (#6)
  .github/actions/cache/action.yml
  package-lock.json
  package.json
  src/app/analytics/analytics.module.ts
  src/app/analytics/analytics/analytics.component.ts
  src/app/analytics/google-tag.service.ts
  src/app/app.module.ts
  src/index.html
  tsconfig.app.json
Due: npx prettier --write ., ng-lint-staged lint --fix --

Auto-generated commit [ci skip]
  404.html
  index.html
  main.2e74f00c8023cb8d.js
  main.459e4970c1799d9f.js
Due: none

feat: :sparkles: setup athe main view
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.spec.ts
  src/styles.scss
Due: ng-lint-staged lint --fix --

feat: :sparkles: setup athe main view
  src/styles.scss
Due: none

feat: :sparkles: setup the main view (#7)
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.spec.ts
  src/styles.scss
Due: ng-lint-staged lint --fix --

Auto-generated commit [ci skip]
  404.html
  index.html
  main.213015341e53bbc0.js
  main.2e74f00c8023cb8d.js
  styles.31fef4f6cd5c1e80.css
  styles.ef46db3751d8e999.css
Due: none

feat: :sparkles: add footer
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.module.ts
  src/app/components/components.module.ts
  src/app/components/footer/footer.component.html
  src/app/components/footer/footer.component.scss
  src/app/components/footer/footer.component.spec.ts
  src/app/components/footer/footer.component.ts
  src/styles.scss
Due: ng-lint-staged lint --fix --

feat: :sparkles: add footer (#8)
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.module.ts
  src/app/components/components.module.ts
  src/app/components/footer/footer.component.html
  src/app/components/footer/footer.component.scss
  src/app/components/footer/footer.component.spec.ts
  src/app/components/footer/footer.component.ts
  src/styles.scss
Due: ng-lint-staged lint --fix --

Auto-generated commit [ci skip]
  404.html
  index.html
  main.213015341e53bbc0.js
  main.a862dc1898a893cd.js
  styles.31fef4f6cd5c1e80.css
  styles.90436ecd08cc9881.css
Due: none

feat: :sparkles: add header
  src/app/app.component.html
  src/app/app.component.scss
  src/app/components/components.module.ts
  src/app/components/header-logo/header-logo.component.html
  src/app/components/header-logo/header-logo.component.scss
  src/app/components/header-logo/header-logo.component.spec.ts
  src/app/components/header-logo/header-logo.component.ts
  src/app/components/header/header.component.html
  src/app/components/header/header.component.scss
  src/app/components/header/header.component.spec.ts
  src/app/components/header/header.component.ts
  src/assets/img/pizza.png
  src/styles.scss
Due: ng-lint-staged lint --fix --

feat: :sparkles: add header
  angular.json
  src/app/app.component.scss
  src/app/components/footer/footer.component.scss
  src/app/components/header-logo/header-logo.component.scss
  src/app/components/header/header.component.scss
  src/styles.scss
  src/styles/_color.scss
  src/styles/_media-queries.scss
Due: npx prettier --write .

feat: :sparkles: add header
  angular.json
  src/app/components/header/header.component.spec.ts
Due: npx prettier --write ., ng-lint-staged lint --fix --

fix: typo in title
  .github/workflows/gh-pages.yml
  README.md
  angular.json
  package-lock.json
  package.json
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/components/header/header.component.html
  src/index.html
Due: npx prettier --write ., ng-lint-staged lint --fix --

feat: :sparkles: add header and fix typo (#9)
  .github/workflows/gh-pages.yml
  README.md
  angular.json
  package-lock.json
  package.json
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/components/components.module.ts
  src/app/components/footer/footer.component.scss
  src/app/components/header-logo/header-logo.component.html
  src/app/components/header-logo/header-logo.component.scss
  src/app/components/header-logo/header-logo.component.spec.ts
  src/app/components/header-logo/header-logo.component.ts
  src/app/components/header/header.component.html
  src/app/components/header/header.component.scss
  src/app/components/header/header.component.spec.ts
  src/app/components/header/header.component.ts
  src/assets/img/pizza.png
  src/index.html
  src/styles.scss
  src/styles/_color.scss
  src/styles/_media-queries.scss
Due: npx prettier --write ., ng-lint-staged lint --fix --

Path conditions:
  npx prettier --write .: any of: *.{json,md}
  ng-lint-staged lint --fix --: any of: src/**/*.ts
