Repository ArturBa/pizza-dough: changes, and which lint-staged commands are due for each by the changed paths.
All: ./script/update-recipe-list.sh, npx prettier --write src/assets/data, git add src/assets/data, npx prettier --write, ng-lint-staged lint --fix --

Auto-generated commit [ci skip]
  404.html
  424.5c049e15c0ba3680.js
  424.898397543a32acab.js
  index.html
  main.1f4435cc5a9ebc3a.js
  main.4ed47a05be6d1cf4.js
  runtime.85fe0a2d83ff59e9.js
  runtime.f84251ba03cf5d19.js
Due: npx prettier --write

feat(form): :sparkles: round new weight value
  src/app/dough/redux/dough.state.ts
Due: ng-lint-staged lint --fix --

feat(form): :sparkles: round new weight value (#35)
  src/app/dough/redux/dough.state.ts
Due: ng-lint-staged lint --fix --

Auto-generated commit [ci skip]
  404.html
  index.html
  main.4ed47a05be6d1cf4.js
  main.bcc8c3571e3329ee.js
Due: npx prettier --write

fix(recipe): :bug: pass unit to the table
  src/app/recipe/ingredients/ingredients/ingredients.component.html
  src/app/recipe/ingredients/ingredients/ingredients.component.ts
Due: npx prettier --write, ng-lint-staged lint --fix --

fix(recipe): :bug: pass unit to the table (#36)
  src/app/recipe/ingredients/ingredients/ingredients.component.html
  src/app/recipe/ingredients/ingredients/ingredients.component.ts
Due: npx prettier --write, ng-lint-staged lint --fix --

Auto-generated commit [ci skip]
  404.html
  424.55d3d7b579b74fbe.js
  424.5c049e15c0ba3680.js
  index.html
  runtime.4e7208a98b3431b8.js
  runtime.f84251ba03cf5d19.js
Due: npx prettier --write

fix(component): :lipstick: update the mobile paddings in the table
  src/app/components/table/row/row.component.scss
  src/app/components/table/table/table.component.html
  src/app/components/table/table/table.component.scss
  src/app/components/table/table/table.component.ts
  src/app/recipe/ingredients/ingredients/ingredients.component.html
Due: npx prettier --write, ng-lint-staged lint --fix --

fix(component): :lipstick: update the mobile paddings in the table
  src/app/components/table/header/header.component.ts
  src/app/components/table/row/row.component.scss
Due: npx prettier --write, ng-lint-staged lint --fix --

fix(component): :lipstick: update the mobile paddings in the table (#37)
  src/app/components/table/header/header.component.ts
  src/app/components/table/table/table.component.html
  src/app/components/table/table/table.component.scss
  src/app/components/table/table/table.component.ts
  src/app/recipe/ingredients/ingredients/ingredients.component.html
Due: npx prettier --write, ng-lint-staged lint --fix --

Auto-generated commit [ci skip]
  404.html
  424.35c5af0813faa4b1.js
  424.55d3d7b579b74fbe.js
  index.html
  main.0b5f7fb409ac58c5.js
  main.bcc8c3571e3329ee.js
  runtime.4e7208a98b3431b8.js
  runtime.831ec3cf80201ee7.js
Due: npx prettier --write

feat(component): :wheelchair: fix row scopes
  src/app/components/table/row/row.component.html
  src/app/components/table/row/row.component.scss
  src/app/components/table/table/table.component.html
  src/app/components/table/table/table.component.scss
  src/app/components/table/table/table.component.ts
  src/app/recipe/ingredients/ingredients/ingredients.component.html
Due: npx prettier --write, ng-lint-staged lint --fix --

feat(component): :wheelchair: fix row scopes (#38)
  src/app/components/table/row/row.component.html
  src/app/components/table/row/row.component.scss
  src/app/components/table/table/table.component.html
  src/app/components/table/table/table.component.scss
  src/app/components/table/table/table.component.ts
  src/app/recipe/ingredients/ingredients/ingredients.component.html
Due: npx prettier --write, ng-lint-staged lint --fix --

Auto-generated commit [ci skip]
  404.html
  424.35c5af0813faa4b1.js
  424.c89dd6b5488deb8b.js
  index.html
  main.0b5f7fb409ac58c5.js
  main.bcc8c3571e3329ee.js
  runtime.41aa37c7f8d58997.js
  runtime.831ec3cf80201ee7.js
Due: npx prettier --write

feat(component): :sparkles: add invalid state for an input
  src/app/components/control/control-field/control-field.component.html
  src/app/components/control/control-field/control-field.component.scss
  src/app/components/control/control.module.ts
  src/app/components/control/error-message/error-message.component.html
  src/app/components/control/error-message/error-message.component.scss
  src/app/components/control/error-message/error-message.component.spec.ts
  src/app/components/control/error-message/error-message.component.ts
  src/app/components/control/input/input-reactive-form.stories.ts
  src/app/components/icon/error/error.component.html
  src/app/components/icon/error/error.component.scss
  src/app/components/icon/error/error.component.ts
  src/app/components/icon/icon.module.ts
  src/app/form/dough-counter-selector/dough-counter-selector.component.ts
  src/app/form/dough-weight-selector/dough-weight-selector.component.ts
  src/styles/_color.scss
Due: npx prettier --write, ng-lint-staged lint --fix --

feat(component): :sparkles: add invalid state for an input
  src/app/components/control/control-field/control-field.component.html
  src/app/components/control/control-field/control-field.component.scss
  src/app/components/control/control.module.ts
  src/app/components/control/error-message/error-message.component.html
  src/app/components/control/error-message/error-message.component.scss
  src/app/components/control/error-message/error-message.component.ts
  src/app/components/control/input/input-reactive-form.stories.ts
  src/app/form/dough-counter-selector/dough-counter-selector.component.html
  src/app/form/dough-counter-selector/dough-counter-selector.component.ts
  src/app/form/dough-weight-selector/dough-weight-selector.component.html
  src/app/form/dough-weight-selector/dough-weight-selector.component.ts
Due: npx prettier --write, ng-lint-staged lint --fix --

feat(component): :sparkles: add invalid state for an input
  src/app/components/control/error-message/error-message.component.spec.ts
Due: ng-lint-staged lint --fix --

feat(component): :sparkles: add invalid state for an input (#39)
  src/app/components/control/control-field/control-field.component.scss
  src/app/components/control/control.module.ts
  src/app/components/control/error-message/error-message.component.html
  src/app/components/control/error-message/error-message.component.scss
  src/app/components/control/error-message/error-message.component.spec.ts
  src/app/components/control/error-message/error-message.component.ts
  src/app/components/control/input/input-reactive-form.stories.ts
  src/app/components/icon/error/error.component.html
  src/app/components/icon/error/error.component.scss
  src/app/components/icon/error/error.component.ts
  src/app/components/icon/icon.module.ts
  src/app/form/dough-counter-selector/dough-counter-selector.component.html
  src/app/form/dough-counter-selector/dough-counter-selector.component.ts
  src/app/form/dough-weight-selector/dough-weight-selector.component.html
  src/app/form/dough-weight-selector/dough-weight-selector.component.ts
  src/styles/_color.scss
Due: npx prettier --write, ng-lint-staged lint --fix --

Auto-generated commit [ci skip]
  404.html
  index.html
  main.3e68376cb69ad0ab.js
  main.bcc8c3571e3329ee.js
Due: npx prettier --write

Path conditions:
  ./script/update-recipe-list.sh: any of: src/assets/data/recipes/*.json
  npx prettier --write src/assets/data: any of: src/assets/data/recipes/*.json
  git add src/assets/data: any of: src/assets/data/recipes/*.json
  npx prettier --write: (any of: *.{json,md,yml,yaml}) or (any of: *.{scss,html})
  ng-lint-staged lint --fix --: any of: src/**/*.ts
