Repository ArturBa/pizza-dough: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write ., ng-lint-staged lint --fix --

refactor(component): :recycle: rename form to control module (#16)
  src/app/app.component.spec.ts
  src/app/components/components.module.ts
  src/app/components/control/control-field/control-field.component.html
  src/app/components/control/control-field/control-field.component.scss
  src/app/components/control/control-field/control-field.component.spec.ts
  src/app/components/control/control-field/control-field.component.ts
  src/app/components/control/control.module.ts
  src/app/components/control/input-after/input-after.directive.spec.ts
  src/app/components/control/input-after/input-after.directive.ts
  src/app/components/control/input/input.directive.spec.ts
  src/app/components/control/input/input.directive.ts
  src/app/components/control/input/input.stories.ts
  src/app/components/control/select/select.directive.spec.ts
  src/app/components/control/select/select.directive.ts
  src/app/components/control/select/select.stories.ts
  src/app/components/form/form-field/form-field.component.ts
  src/app/form/form.module.ts
  src/app/form/oven-selector/oven-selector.component.html
  src/app/form/oven-selector/oven-selector.component.scss
  src/app/form/oven-selector/oven-selector.component.spec.ts
  src/app/form/oven-selector/oven-selector.component.ts
  src/app/form/recipe-selector/recipe-selector.component.html
  src/app/form/recipe-selector/recipe-selector.component.scss
  src/app/form/recipe-selector/recipe-selector.component.spec.ts
  src/app/form/recipe-selector/recipe-selector.component.ts
Due: npx prettier --write ., ng-lint-staged lint --fix --

Auto-generated commit [ci skip]
  404.html
  index.html
  main.2d707b297d575877.js
  main.e93903d5a5897c56.js
Due: npx prettier --write .

feat(form): :sparkles: prepare form input
  .vscode/settings.json
  src/app/app.component.html
  src/app/app.module.ts
  src/app/components/icon/chevron/chevron.component.html
  src/app/form/form.module.ts
  src/app/form/form/form.component.html
  src/app/form/form/form.component.scss
  src/app/form/form/form.component.spec.ts
  src/app/form/form/form.component.ts
  src/app/form/oven-selector/oven-selector.component.html
  src/app/form/oven-selector/oven-selector.component.ts
  src/app/form/recipe-selector/recipe-selector.component.ts
  src/favicon.ico
  src/styles.scss
Due: npx prettier --write ., ng-lint-staged lint --fix --

fix(deploy): :bug: favicon invalid on gh-pages deploy
  .vscode/settings.json
  src/index.html
Due: npx prettier --write .

fix(deploy): :bug: favicon invalid on gh-pages deploy (#18)
  .vscode/settings.json
  src/index.html
Due: npx prettier --write .

Auto-generated commit [ci skip]
  404.html
  index.html
Due: npx prettier --write .

fix: tests
  src/app/app.component.spec.ts
  src/app/form/form/form.component.spec.ts
  src/app/form/oven-selector/oven-selector.component.spec.ts
Due: ng-lint-staged lint --fix --

feat(form): :sparkles: prepare form input (#17)
  .vscode/settings.json
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.module.ts
  src/app/components/icon/chevron/chevron.component.html
  src/app/form/form.module.ts
  src/app/form/form/form.component.html
  src/app/form/form/form.component.scss
  src/app/form/form/form.component.spec.ts
  src/app/form/form/form.component.ts
  src/app/form/oven-selector/oven-selector.component.html
  src/app/form/oven-selector/oven-selector.component.spec.ts
  src/app/form/oven-selector/oven-selector.component.ts
  src/app/form/recipe-selector/recipe-selector.component.ts
  src/favicon.ico
  src/styles.scss
Due: npx prettier --write ., ng-lint-staged lint --fix --

Auto-generated commit [ci skip]
  404.html
  favicon.ico
  index.html
  main.35c59a9df0f19ee9.js
  main.e93903d5a5897c56.js
  styles.07a9c055b138db7e.css
  styles.b60d8933547775cf.css
Due: npx prettier --write .

chore: add recipes
  .husky/commit-msg
  script/update-recipe-list.sh
  src/assets/data/dictionaries.json
  src/assets/data/list.json
  src/assets/data/recipes/10.json
  src/assets/data/recipes/11.json
  src/assets/data/recipes/12.json
  src/assets/data/recipes/15.json
  src/assets/data/recipes/16.json
  src/assets/data/recipes/17.json
  src/assets/data/recipes/18.json
  src/assets/data/recipes/19.json
  src/assets/data/recipes/22.json
  src/assets/data/recipes/23.json
  src/assets/data/recipes/24.json
  src/assets/data/recipes/25.json
  src/assets/data/recipes/26.json
  src/assets/data/recipes/27.json
  src/assets/data/recipes/28.json
  src/assets/data/recipes/29.json
  src/assets/data/recipes/30.json
  src/assets/data/recipes/31.json
  src/assets/data/recipes/32.json
  src/assets/data/recipes/33.json
  src/assets/data/recipes/34.json
  src/assets/data/recipes/6.json
  src/assets/data/recipes/7.json
  src/assets/data/recipes/8.json
  src/assets/data/recipes/9.json
Due: npx prettier --write .

chore: update git-ci
  .lintstagedrc
  src/assets/data/list.json
  src/assets/data/recipes/63.json
Due: npx prettier --write .

chore: update git-ci
  .lintstagedrc
Due: none

chore: update git-ci
  .lintstagedrc
  src/assets/data/recipes/63.json
Due: npx prettier --write .

chore: update git-ci
  .lintstagedrc
  src/assets/data/list.json
Due: npx prettier --write .

chore: add recipes (#19)
  .husky/commit-msg
  .lintstagedrc
  script/update-recipe-list.sh
  src/assets/data/dictionaries.json
  src/assets/data/list.json
  src/assets/data/recipes/10.json
  src/assets/data/recipes/11.json
  src/assets/data/recipes/12.json
  src/assets/data/recipes/15.json
  src/assets/data/recipes/16.json
  src/assets/data/recipes/17.json
  src/assets/data/recipes/18.json
  src/assets/data/recipes/19.json
  src/assets/data/recipes/22.json
  src/assets/data/recipes/23.json
  src/assets/data/recipes/24.json
  src/assets/data/recipes/25.json
  src/assets/data/recipes/26.json
  src/assets/data/recipes/27.json
  src/assets/data/recipes/28.json
  src/assets/data/recipes/29.json
  src/assets/data/recipes/30.json
  src/assets/data/recipes/31.json
  src/assets/data/recipes/32.json
  src/assets/data/recipes/33.json
  src/assets/data/recipes/34.json
  src/assets/data/recipes/6.json
  src/assets/data/recipes/7.json
  src/assets/data/recipes/8.json
  src/assets/data/recipes/9.json
Due: npx prettier --write .

Auto-generated commit [ci skip]
  assets/data/dictionaries.json
  assets/data/list.json
  assets/data/recipes/10.json
  assets/data/recipes/11.json
  assets/data/recipes/12.json
  assets/data/recipes/15.json
  assets/data/recipes/16.json
  assets/data/recipes/17.json
  assets/data/recipes/18.json
  assets/data/recipes/19.json
  assets/data/recipes/22.json
  assets/data/recipes/23.json
  assets/data/recipes/24.json
  assets/data/recipes/25.json
  assets/data/recipes/26.json
  assets/data/recipes/27.json
  assets/data/recipes/28.json
  assets/data/recipes/29.json
  assets/data/recipes/30.json
  assets/data/recipes/31.json
  assets/data/recipes/32.json
  assets/data/recipes/33.json
  assets/data/recipes/34.json
  assets/data/recipes/6.json
  assets/data/recipes/7.json
  assets/data/recipes/8.json
  assets/data/recipes/9.json
Due: npx prettier --write .

feat(form): :sparkles: add ngxs for oven type
  angular.json
  package-lock.json
  package.json
  src/app/app.module.ts
  src/app/form/form.module.ts
  src/app/form/oven-selector/oven-selector.component.html
  src/app/form/oven-selector/oven-selector.component.ts
  src/app/form/redux/form.actions.ts
  src/app/form/redux/form.service.spec.ts
  src/app/form/redux/form.service.ts
  src/app/form/redux/form.store.ts
  src/assets/data/dictionaries.json
  src/environments/environment.prod.ts
  src/environments/environment.ts
Due: npx prettier --write ., ng-lint-staged lint --fix --

feat(form): :sparkles: add ngxs for oven type
  src/app/form/oven-selector/oven-selector.component.ts
Due: ng-lint-staged lint --fix --

fix: build prod fixes
  package.json
  src/app/components/footer/footer.component.scss
  src/app/form/oven-selector/oven-selector.component.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
  src/styles/_color.scss
Due: npx prettier --write ., ng-lint-staged lint --fix --

feat(form): :sparkles: add ngxs for recipe selector
  src/app/form/form/form.component.html
  src/app/form/oven-selector/oven-selector.component.ts
  src/app/form/recipe-selector/recipe-selector.component.html
  src/app/form/recipe-selector/recipe-selector.component.ts
  src/app/form/redux/form.actions.ts
  src/app/form/redux/form.model.ts
  src/app/form/redux/form.store.ts
  src/app/form/service/form.service.spec.ts
  src/app/form/service/form.service.ts
Due: npx prettier --write ., ng-lint-staged lint --fix --

feat(form): :sparkles: add ngxs for recipe selector
  src/app/components/control/control-field/control-field.component.scss
  src/app/form/recipe-selector/recipe-selector.component.html
Due: npx prettier --write .

feat(form): :sparkles: add ngxs for recipe selector
  src/app/app.component.spec.ts
  src/app/form/form/form.component.spec.ts
  src/app/form/oven-selector/oven-selector.component.spec.ts
  src/app/form/recipe-selector/recipe-selector.component.spec.ts
  src/app/form/service/form.service.spec.ts
Due: ng-lint-staged lint --fix --

feat(form): :sparkles: add ngxs for recipe selector
  src/app/form/recipe-selector/recipe-selector.component.ts
Due: ng-lint-staged lint --fix --

feat(form): :sparkles: add ngxs for oven type (#20)
  angular.json
  package-lock.json
  package.json
  src/app/app.component.spec.ts
  src/app/app.module.ts
  src/app/components/control/control-field/control-field.component.scss
  src/app/components/footer/footer.component.scss
  src/app/form/form.module.ts
  src/app/form/form/form.component.html
  src/app/form/form/form.component.spec.ts
  src/app/form/oven-selector/oven-selector.component.html
  src/app/form/oven-selector/oven-selector.component.spec.ts
  src/app/form/oven-selector/oven-selector.component.ts
  src/app/form/recipe-selector/recipe-selector.component.html
  src/app/form/recipe-selector/recipe-selector.component.spec.ts
  src/app/form/recipe-selector/recipe-selector.component.ts
  src/app/form/redux/form.actions.ts
  src/app/form/redux/form.model.ts
  src/app/form/redux/form.store.ts
  src/app/form/service/form.service.spec.ts
  src/app/form/service/form.service.ts
  src/assets/data/dictionaries.json
  src/environments/environment.prod.ts
  src/environments/environment.ts
  src/styles/_color.scss
Due: npx prettier --write ., ng-lint-staged lint --fix --

Auto-generated commit [ci skip]
  3rdpartylicenses.txt
  404.html
  assets/data/dictionaries.json
  index.html
  main.35c59a9df0f19ee9.js
  main.ID3QYSL7.js
  polyfills.6dfcf45f560a473f.js
  polyfills.CPDEGR4U.js
  runtime.3be048ca5655c5d4.js
  styles.6AINJIBM.css
Due: npx prettier --write .

feat(recipe): :sparkles: add a recipe page with a path
  .vscode/settings.json
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/recipe/ingredients/ingredients.module.ts
  src/app/recipe/ingredients/ingredients/ingredients.component.html
  src/app/recipe/ingredients/ingredients/ingredients.component.scss
  src/app/recipe/ingredients/ingredients/ingredients.component.spec.ts
  src/app/recipe/ingredients/ingredients/ingredients.component.ts
  src/app/recipe/instructions/instructions.module.ts
  src/app/recipe/instructions/instructions/instructions.component.html
  src/app/recipe/instructions/instructions/instructions.component.scss
  src/app/recipe/instructions/instructions/instructions.component.spec.ts
  src/app/recipe/instructions/instructions/instructions.component.ts
  src/app/recipe/recipe-routing.module.ts
  src/app/recipe/recipe.module.ts
  src/app/recipe/recipe/recipe.component.html
  src/app/recipe/recipe/recipe.component.scss
  src/app/recipe/recipe/recipe.component.spec.ts
  src/app/recipe/recipe/recipe.component.ts
Due: npx prettier --write ., ng-lint-staged lint --fix --

feat(recipe): :sparkles: add a recipe page with a path
  src/app/recipe/recipe/recipe.component.spec.ts
Due: ng-lint-staged lint --fix --

feat(recipe): :sparkles: add a recipe page with a path (#21)
  .vscode/settings.json
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/recipe/ingredients/ingredients.module.ts
  src/app/recipe/ingredients/ingredients/ingredients.component.html
  src/app/recipe/ingredients/ingredients/ingredients.component.scss
  src/app/recipe/ingredients/ingredients/ingredients.component.spec.ts
  src/app/recipe/ingredients/ingredients/ingredients.component.ts
  src/app/recipe/instructions/instructions.module.ts
  src/app/recipe/instructions/instructions/instructions.component.html
  src/app/recipe/instructions/instructions/instructions.component.scss
  src/app/recipe/instructions/instructions/instructions.component.spec.ts
  src/app/recipe/instructions/instructions/instructions.component.ts
  src/app/recipe/recipe-routing.module.ts
  src/app/recipe/recipe.module.ts
  src/app/recipe/recipe/recipe.component.html
  src/app/recipe/recipe/recipe.component.scss
  src/app/recipe/recipe/recipe.component.spec.ts
  src/app/recipe/recipe/recipe.component.ts
Due: npx prettier --write ., ng-lint-staged lint --fix --

feat(recipe): :sparkles: add ngxs
  src/app/form/oven-selector/oven-selector.component.ts
  src/app/recipe/recipe.module.ts
  src/app/recipe/recipe/recipe.component.ts
  src/app/recipe/redux/recipe.actions.ts
  src/app/recipe/redux/recipe.model.ts
  src/app/recipe/redux/recipe.store.ts
  src/app/recipe/service/recipe.service.spec.ts
  src/app/recipe/service/recipe.service.ts
Due: ng-lint-staged lint --fix --

Auto-generated commit [ci skip]
  404.html
  chunk-4WI5FE7A.js
  index.html
  main.ENIOV3L3.js
  main.ID3QYSL7.js
  recipe.module-YXEW76SE.js
Due: npx prettier --write .

feat(recipe): save recipe id into url
  src/app/form/oven-selector/oven-selector.component.ts
  src/app/form/recipe-selector/recipe-selector.component.ts
  src/app/form/redux/form.store.ts
  src/app/form/service/path.service.ts
Due: ng-lint-staged lint --fix --

feat(recipe): :sparkles: save recipe id into url
  src/app/form/recipe-selector/recipe-selector.component.ts
  src/app/form/service/path.service.ts
Due: ng-lint-staged lint --fix --

feat(recipe): :sparkles: save recipe id into url (#23)
  src/app/form/oven-selector/oven-selector.component.ts
  src/app/form/recipe-selector/recipe-selector.component.ts
  src/app/form/redux/form.store.ts
  src/app/form/service/path.service.ts
Due: ng-lint-staged lint --fix --

Auto-generated commit [ci skip]
  404.html
  chunk-4WI5FE7A.js
  chunk-YLF4SIGU.js
  index.html
  main.ENIOV3L3.js
  main.KRMCYHAG.js
  recipe.module-A6DF2IVH.js
  recipe.module-YXEW76SE.js
Due: npx prettier --write .

feat(recipe): :sparkles: add ngxs
  src/app/recipe/recipe.module.ts
  src/app/recipe/recipe/recipe.component.spec.ts
  src/app/recipe/redux/recipe.store.ts
  src/app/recipe/service/recipe.service.spec.ts
Due: ng-lint-staged lint --fix --

feat(recipe): :sparkles: add ngxs
  src/app/recipe/recipe.module.ts
  src/app/recipe/recipe/recipe.component.spec.ts
  src/app/recipe/recipe/recipe.component.ts
  src/app/recipe/redux/recipe.actions.ts
  src/app/recipe/redux/recipe.model.ts
  src/app/recipe/redux/recipe.store.ts
  src/app/recipe/service/recipe.service.spec.ts
  src/app/recipe/service/recipe.service.ts
Due: ng-lint-staged lint --fix --

Auto-generated commit [ci skip]
  404.html
  chunk-LD52SMIU.js
  chunk-YLF4SIGU.js
  index.html
  main.BXSMPEFC.js
  main.KRMCYHAG.js
  recipe.module-6BIKXMXK.js
  recipe.module-A6DF2IVH.js
Due: npx prettier --write .

feat(recipe): :sparkles: display recipe details
  src/app/recipe/instructions/instructions/instructions.component.html
  src/app/recipe/instructions/instructions/instructions.component.spec.ts
  src/app/recipe/instructions/instructions/instructions.component.ts
Due: npx prettier --write ., ng-lint-staged lint --fix --

feat(recipe): :sparkles: display recipe details (#24)
  src/app/recipe/instructions/instructions/instructions.component.html
  src/app/recipe/instructions/instructions/instructions.component.spec.ts
  src/app/recipe/instructions/instructions/instructions.component.ts
Due: npx prettier --write ., ng-lint-staged lint --fix --

feat(recipe): :sparkles: add dought form
  src/app/form/dought-counter-selector/dought-counter-selector.component.html
  src/app/form/dought-counter-selector/dought-counter-selector.component.scss
  src/app/form/dought-counter-selector/dought-counter-selector.component.spec.ts
  src/app/form/dought-counter-selector/dought-counter-selector.component.ts
  src/app/form/dought-weight-selector/dought-weight-selector.component.html
  src/app/form/dought-weight-selector/dought-weight-selector.component.scss
  src/app/form/dought-weight-selector/dought-weight-selector.component.spec.ts
  src/app/form/dought-weight-selector/dought-weight-selector.component.ts
  src/app/form/form.module.ts
  src/app/form/form/form.component.html
  src/app/form/weight-unit-selector/weight-unit-selector.component.html
  src/app/form/weight-unit-selector/weight-unit-selector.component.scss
  src/app/form/weight-unit-selector/weight-unit-selector.component.spec.ts
  src/app/form/weight-unit-selector/weight-unit-selector.component.ts
Due: npx prettier --write ., ng-lint-staged lint --fix --

Path conditions:
  npx prettier --write .: (any of: *.{json,md}) or (any of: *.{scss,html})
  ng-lint-staged lint --fix --: any of: src/**/*.ts
